  $header-bacground-image1: '../img/m-h-day.jpg';

  $font-family-text: 'Source Sans Pro', sans-serif;
  $font-family-title: 'Hind', sans-serif;


  $button-color: #699a00;

  $bacground-box-color: rgb(20, 160, 199);
  $font-header-color: rgb(44, 47, 60);
  $body-bg-color: white;
  $section_card_footer_color: rgb(33, 35, 46);
  $color-header-text: rgb(56, 59, 69);

  $line-gradient-banner: linear-gradient(to right, rgb(105, 153, 2), rgb(43, 89, 221));
  $futter_text_color: rgb(192, 195, 206);
  $card_imgs: (1: 304px, 2: 293px, 3: 325px);
  $padding_section_card: 22px;
  $s_card_text_lspacing: normal;

