$header-bacground-image1: '../img/m-h-night.jpg';

$font-family-text: 'Source Sans Pro', sans-serif;
$font-family-title: 'Fresca', sans-serif;

$button-color: rgb(227, 172, 0);

$bacground-box-color: rgb(254, 78, 51);
$font-header-color: rgb(255, 255, 255);
$body-bg-color: rgb(33, 35, 46);
$section_card_footer_color: rgb(59, 63, 80);
$futter_text_color: rgb(209, 209, 209);
$color-header-text: white;

$line-gradient-banner: linear-gradient(to right, rgb(225, 169, 2), rgb(151, 52, 78));

$card_imgs: (1: 310px, 2: 300px, 3: 332px);

$padding_section_card: 20px;
$s_card_text_lspacing: 1px;